<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页-介绍信息</title>
    <link rel="stylesheet" href="./static/common/layui/css/layui.css">
    <link rel="stylesheet" href="./static/admin/css/style.css">
    <script src="./static/common/jquery-3.3.1.min.js"></script>
    <script src="./element/vue.js"></script>
    <link rel="stylesheet" href="./element/theme-chalk/index.css">
    <script src="./element/element.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <top-and-nav></top-and-nav>

    <!--右侧内容-->
    <div class="right">

        <!--添加弹出-->
        <a class="layui-btn" @click="add1"><i class="layui-icon">&#xe654;</i>添加</a>

        <!--查询-->
        <el-input placeholder="请输入搜索内容" v-model="search" style="width:300px;float:right;overflow: hidden;">
            <el-button slot="append" icon="el-icon-search" @click="searchFn"></el-button>
        </el-input>

        <el-table
                :data="newsList"
                style="width: 100%">

            <el-table-column
                    prop="title"
                    label="标题"
                    :show-overflow-tooltip="true"
            >
            </el-table-column>
            <el-table-column
                    prop="content"
                    label="内容"
                    :show-overflow-tooltip="true"
            >
                <template slot-scope="scope">
                    <el-button size="mini" @click="look(scope.row.id)">查看</el-button>
                </template>
            </el-table-column>

            <el-table-column
                    label="操作"
                    width="150px"
            >
                <template slot-scope="scope">
                    <el-button size="mini" @click="edit(scope.row)">编辑</el-button>
                    <el-button size="mini" @click="remove(scope.row.id)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--分页-->
        <el-pagination
                background
                layout="prev, pager, next"
                :total="count"
                @current-change="pageChange"
        >
        </el-pagination>

    </div>


    <!--新建-->
    <el-dialog title="新建" :visible.sync="dialogVisible" width="800px">
        <el-form :model="ruleForm" ref="ruleForm" label-width="100px" class="demo-ruleForm">

            <el-form-item label="标题" prop="title" :rules="[{ required: true, message: '标题不能为空',trigger: 'blur'}]">
                <el-input type="text" v-model="ruleForm.title"></el-input>
            </el-form-item>

            <el-form-item label="内容" prop="content">
                <div id="eneditor"></div>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
            </el-form-item>

        </el-form>
    </el-dialog>

    <!--编辑-->
    <el-dialog title="编辑" :visible.sync="dialogVisible1" width="800px">
        <el-form :model="editObj" ref="editForm" label-width="100px" class="demo-ruleForm">

            <el-form-item label="标题" prop="title" :rules="[{ required: true, message: '标题不能为空',trigger: 'blur'}]">
                <el-input type="text" v-model="editObj.title"></el-input>
            </el-form-item>

            <el-form-item label="内容" prop="content">
                <div id="eneditor2"></div>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="update('ruleForm')">确认更新</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

</div>
<script src="./static/admin/js/config.js"></script>
<script src="mxins/index.js"></script>
<script src="static/wangEditor/wangEditor2.js"></script>
<script src="mxins/topAndNav.js"></script>
<script type="text/javascript">

    new Vue({
        el: '#app',
        mixins: [pub],
        data: {
            newsList: [

            ],
            ruleForm: {
                content:'',
                title:'',
            },
            // 编辑对象 --- 编辑与新建不能使用同一套验证规则和字段 会引起意外
            editObj: {
                content:'',
                title:'',
            },
        },
        mounted(){
            // 初始化下拉菜单请求列表
            this.getData()
        },
        methods: {
            // 初始请求数据
            getData(){
                $.ajax({
                    url: api+`/info/list`,
                    data:{
                        page:this.page,
                        pageCount:this.pageCount,
                        name:this.search
                    },
                    success:(res)=>{
                        console.log(res);
                        this.newsList = res.data
                        this.count = res.count
                    }
                })
            },
            // 搜索
            searchFn(){
                this.getData()
            },
            // 添加数据
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        var dataNew = {
                            ...this.ruleForm,
                            content:this.eneditor.txt.html()
                        }
                        console.log(dataNew);
                        $.ajax({
                            url: api + "/info/add",
                            data: dataNew,
                            type: "post",
                            success: (data) => {
                                console.log(data);
                                this.getData()
                            }
                        });
                        this.dialogVisible = false
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            // 编辑更新数据
            update(){
                this.$refs['editForm'].validate((valid) => {
                    if (valid) {
                        var dataNew = {
                            ...this.editObj,
                            content:this.eneditor.txt.html()
                        }
                        console.log(dataNew);
                        $.ajax({
                            url: api + "/info/update",
                            data: dataNew,
                            type: "post",
                            success: (data) => {
                                console.log(data);
                                this.getData()
                            }
                        });
                        this.dialogVisible1 = false
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            // 删除数据
            remove(id){
                this.$confirm('确认删除吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.ajax({
                        url: api + "/info/remove",
                        data:{
                            id:id
                        },
                        success: (data) => {
                            this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                            console.log(data);
                            this.getData()
                        }
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            look(id){
                window.location.href="./detail.html?id="+id
            }
        }
    })

</script>
</body>
</html>
